.button {
  @include flex-center(true);

  height: var(--button-height);
  padding-inline: 46px;
  font-size: 16px;
  background-color: var(--color-accent);
  color: var(--color-dark);
  border-radius: var(--border-radius-large);
  border: var(--border);
  font-weight: 500;

  @include hover {
    background-color: transparent;
    color: var(--color-light);
  }

  &--dark-bg {
    background-color: var(--color-dark);
    color: var(--color-accent);
    border: 1px solid var(--color-dark);

    @include hover {
      color: var(--color-dark);
    }
  }

  &--transparent {
    background-color: transparent;
    color: var(--color-light);

    @include hover {
      background-color: var(--color-accent);
      color: var(--color-dark);
    }
  }

  &--small {
    padding-inline: 38px;
  }
}