.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-dark-alt);
  border-radius: var(--border-radius);
  padding: 32px;

  @include mobile {
    padding: 16px;
  }

  svg *[fill] { fill: #F28B63 }

  &--accent {
    color: var(--color-dark);
    background-color: var(--color-accent);
    svg *[fill] { fill: #212121 }
  }

  &--dark {
    background-color: var(--color-dark);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 9px;

    &-number {
      font-weight: 300;
    }
  }

  &__link {
    @include hover {
      text-decoration: underline;
    }
  }

  &__price {
    &-time {
      opacity: 0.7;
    }

    &-description {
      @include fluid-text(24, 16);
    }
  }

  &__icon {
    align-self: flex-start;
  }

  &__description {
    @include fluid-text(24, 18);
    font-weight: 500;
    position: relative;

    &--small {
      font-size: 16px;
    }

    &--before::before {
      @include square(6px);

      content: '';
      background-color: #9E624B;
      border: 2px solid #F28B63;
      border-radius: 50%;
      left: -15px;
      top: 8px;
      position: absolute;

      @include mobile {
        display: none;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  &__buttons {
    @include mobile {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
    }
  }

  &__button {
    @include mobile {
      width: 100%;
    }
  }
}