.contacts {
  &__map {
    position: relative;
    width: 100%;
    height: 567px;
    background-image: url('../../images/map.svg');
    background-position: center;
    border-radius: var(--border-radius);

    @include mobile {
      height: 517px;
    }
  }

  &__card {
    position: absolute;
    row-gap: 41px;
    max-width: 512px;

    @include mobile {
      bottom: -244px;
      width: 100%;
      left: 0;
    }

    @include mobile-above {
      bottom: 46px;
      left: 35px;
    }
  }
}