.contacts {
  &__map {
    position: relative;
    width: 100%;
    height: 567px;
    background-image: url('../../images/map.svg');
    background-position: center;
    border-radius: var(--border-radius);

    @include mobile {
      height: 517px;
    }
  }

  &__card {
    row-gap: 41px;
    margin-top: 24px;
  }

  &__card--position {
    position: absolute;
    row-gap: 41px;
    max-width: 512px;
    bottom: 46px;
    left: 35px;
  }
}