.grid {
  --gridColumns: 1;

  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: 24px;

  @include mobile {
    gap: 30px;
  }

  @for $i from 2 through 12 {
    &--#{$i} {
      --gridColumns: #{$i};
    }
  }

  &--2 {
    @include tablet {
      --gridColumns: 1;
    }
  }

  &--3 {
    @include desktop {
      --gridColumns: 2;
    }

    @include mobile {
      --gridColumns: 1;
    }
  }

  &__item {
    &--3 {
      grid-row: span 2;
    }
  }
}