.hero {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  &__header {
    margin-bottom: 40px;
  }

  &__body {
    display: flex;
    column-gap: 24px;

    @include desktop {
      flex-direction: column;
      row-gap: 16px;
    }
  }

  &__title {
    text-align: center;
  }

  &__image {
    width: 100%;
    height: 462px;
    display: block;
    object-fit: cover;
    border-radius: var(--border-radius);

    @include desktop {
      height: 323px;
    }
  }
}