.methodology {
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
  }

  &__card {
    height: 422px;
    @include desktop {
      height: clamp(319px, calc(0.92vw + 316px) , 422px);
    }
  }

  &__image {
    border-radius: var(--border-radius);
    background-image: url(../../images/methodology-img.svg);
    background-position: center;
    background-repeat: no-repeat;

    @include tablet {
      display: none;
    }
  }

  &__body {
    color: var(--color-light);
  }
}