.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 14px 20px;
  border: none;
  background-color: var(--color-dark);
  color: var(--color-light);

  &:modal {
    max-width: 100%;
    max-height: 100%;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
  }
}