.scrollbar {
  &::-webkit-scrollbar {
    height: 9px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--color-light);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--color-accent);
  }
}