.testimonials {
  &__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 23px;

    @include mobile {
      scroll-snap-type: x mandatory;
      overflow-x: scroll;
      width: 100%;
      column-gap: 20px;
      padding-bottom: 20px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    row-gap: 48px;
    height: 100%;

    @include mobile {
      min-width: 350px;
      scroll-snap-align: start;
      padding-block: 41px;
    }
  }
}