@charset "UTF-8";
:root {
  --color-dark: #212121;
  --color-dark-alt: #292929;
  --color-light: #E8E8E8;
  --color-accent: #F28B63;
  --border: 1px solid var(--color-accent);
  --border-radius: 24px;
  --border-radius-large: 100px;
  --border-radius-large-alt: 40px;
  --font-famaly-base: "Inter", sans-serif;
  --container-width: 1320px;
  --container-padding-x: 20px;
  --button-height: 52px;
  --transition-duration: 0.2s;
}

/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Medium";
  src: url("../fonts/Inter18pt-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter18pt-SemiBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 768px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-family: var(--font-famaly-base);
  background-color: var(--color-dark);
  color: var(--color-light);
  font-size: 16px;
  line-height: 1.4;
}

button,
textarea,
input,
a,
svg * {
  transition-duration: var(--transition-duration);
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, .h1 {
  font-size: clamp(36px, 6.6666666667vw, 96px);
}

h2, .h2 {
  font-size: clamp(32px, 6.5972222222vw, 95px);
}

h3, .h3 {
  font-size: clamp(24px, 2.7777777778vw, 40px);
}

h4, .h4 {
  font-size: 24px;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--button-height);
  padding-inline: 46px;
  font-size: 16px;
  background-color: var(--color-accent);
  color: var(--color-dark);
  border-radius: var(--border-radius-large);
  border: var(--border);
  font-weight: 500;
}
@media (hover: hover) {
  .button:hover {
    background-color: transparent;
    color: var(--color-light);
  }
}
@media (hover: none) {
  .button:active {
    background-color: transparent;
    color: var(--color-light);
  }
}
.button--dark-bg {
  background-color: var(--color-dark);
  color: var(--color-accent);
  border: 1px solid var(--color-dark);
}
@media (hover: hover) {
  .button--dark-bg:hover {
    color: var(--color-dark);
  }
}
@media (hover: none) {
  .button--dark-bg:active {
    color: var(--color-dark);
  }
}
.button--transparent {
  background-color: transparent;
  color: var(--color-light);
}
@media (hover: hover) {
  .button--transparent:hover {
    background-color: var(--color-accent);
    color: var(--color-dark);
  }
}
@media (hover: none) {
  .button--transparent:active {
    background-color: var(--color-accent);
    color: var(--color-dark);
  }
}
.button--small {
  padding-inline: 38px;
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 96px;
  aspect-ratio: 1;
  position: relative;
}
.burger-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 3px;
  background-color: var(--color-light);
  box-shadow: 0 -8px var(--color-light), 0 8px var(--color-light);
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  position: relative;
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: var(--color-accent);
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: var(--color-accent);
  }
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 7px;
  width: 70%;
  height: 2px;
  background-color: var(--color-light);
  border-radius: 5px;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 14px 20px;
  border: none;
  background-color: var(--color-dark);
  color: var(--color-light);
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-dark-alt);
  border-radius: var(--border-radius-large-alt);
  height: 60px;
  padding-left: 24px;
  padding-right: 8px;
  margin-top: 16px;
}
@media (max-width: 1023px) {
  .header {
    font-size: 13px;
  }
}
.header__button {
  height: 44px;
}
@media (max-width: 1023px) {
  .header__button {
    padding-inline: 26px;
  }
}
.header__brand, .header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__brand {
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 1280px) {
  .header__brand {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 1023px) {
  .header__brand {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.header__navigation {
  -moz-column-gap: 94px;
       column-gap: 94px;
}
@media (max-width: 1280px) {
  .header__navigation {
    -moz-column-gap: 44px;
         column-gap: 44px;
  }
}
@media (max-width: 1023px) {
  .header__navigation {
    -moz-column-gap: 13px;
         column-gap: 13px;
  }
}
.header__addres * {
  font-style: normal;
}
.header__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 1280px) {
  .header__list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.header__link {
  display: inline-flex;
  height: 50px;
  align-items: center;
}
@media (hover: hover) {
  .header__link:hover {
    opacity: 0.5;
  }
}
@media (hover: none) {
  .header__link:active {
    opacity: 0.5;
  }
}

.section {
  --sectionMarginTop: 152px;
  margin-top: var(--sectionMarginTop);
  border: 1px solid transparent;
}
.section--mt-45 {
  --sectionMarginTop: 45px;
}
.section--mt-149 {
  --sectionMarginTop: 149px;
}
.section--mt-155 {
  --sectionMarginTop: 155px;
}
.section--alt-style {
  background-color: var(--color-light);
  color: var(--color-dark);
  padding-block-start: 95px;
  padding-block-end: 89px;
  border-radius: 60px;
}
@media (max-width: 768px) {
  .section--alt-style {
    border-radius: 34px;
    padding-block: 32px;
  }
}

.section-header {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  text-align: center;
}
.section-header__description {
  font-size: clamp(15px, 1.6666666667vw, 24px);
}

.grid {
  --gridColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: 24px;
}
@media (max-width: 768px) {
  .grid {
    gap: 30px;
  }
}
.grid--2 {
  --gridColumns: 2;
}
.grid--3 {
  --gridColumns: 3;
}
.grid--4 {
  --gridColumns: 4;
}
.grid--5 {
  --gridColumns: 5;
}
.grid--6 {
  --gridColumns: 6;
}
.grid--7 {
  --gridColumns: 7;
}
.grid--8 {
  --gridColumns: 8;
}
.grid--9 {
  --gridColumns: 9;
}
.grid--10 {
  --gridColumns: 10;
}
.grid--11 {
  --gridColumns: 11;
}
.grid--12 {
  --gridColumns: 12;
}
@media (max-width: 1023px) {
  .grid--2 {
    --gridColumns: 1;
  }
}
@media (max-width: 1280px) {
  .grid--3 {
    --gridColumns: 2;
  }
}
@media (max-width: 768px) {
  .grid--3 {
    --gridColumns: 1;
  }
}
.grid__item--image {
  grid-row: span 2;
}
@media (max-width: 768px) {
  .grid__item--acupuncture {
    order: -2;
  }
}
@media (max-width: 768px) {
  .grid__item--lifestyle {
    order: -1;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-dark-alt);
  border-radius: var(--border-radius);
  padding: 32px;
}
.card svg *[fill] {
  fill: #F28B63;
}
.card--accent {
  color: var(--color-dark);
  background-color: var(--color-accent);
}
.card--accent svg *[fill] {
  fill: #212121;
}
.card__price-time {
  opacity: 0.7;
}
.card__price-description {
  font-size: clamp(16px, 1.6666666667vw, 24px);
}
.card__icon {
  align-self: flex-start;
}
.card__description {
  font-size: clamp(18px, 1.6666666667vw, 24px);
  font-weight: 500;
  position: relative;
}
.card__description--small {
  font-size: 16px;
}
.card__description--before::before {
  width: 6px;
  aspect-ratio: 1;
  content: "";
  background-color: #9E624B;
  border: 2px solid #F28B63;
  border-radius: 50%;
  left: -15px;
  top: 8px;
  position: absolute;
}
@media (max-width: 768px) {
  .card__description--before::before {
    display: none;
  }
}
.card__body {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.card__list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
@media (max-width: 768px) {
  .card__buttons {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
}
@media (max-width: 768px) {
  .card__button {
    width: 100%;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.hero__header {
  margin-bottom: 40px;
}
.hero__body {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (max-width: 1280px) {
  .hero__body {
    flex-direction: column;
    row-gap: 16px;
  }
}
.hero__title {
  text-align: center;
}
.hero__image {
  width: 100%;
  height: 462px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
}
@media (max-width: 1280px) {
  .hero__image {
    height: 323px;
  }
}

.methodology__container {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}
.methodology__card {
  height: 422px;
}
.methodology__image {
  border-radius: var(--border-radius);
  background-image: url(../../images/methodology-img.svg);
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1023px) {
  .methodology__image {
    display: none;
  }
}
.methodology__body {
  color: var(--color-light);
}

.sessions__header {
  margin-bottom: 72px;
}
.sessions__image {
  background-image: url(../../images/sessions-1.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.sessions__image--2 {
  background-image: url(../../images/sessions-2.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.sessions__image, .sessions__image--2 {
  border-radius: var(--border-radius);
}
@media (max-width: 1023px) {
  .sessions__image, .sessions__image--2 {
    display: none;
  }
}
.sessions__card {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.sessions__card .card__body {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
@media (max-width: 1023px) {
  .sessions__card {
    flex-direction: column;
  }
  .sessions__card .card__title {
    margin-bottom: 32px;
  }
}

.about__header {
  margin-bottom: 72px;
}
.about__body {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (max-width: 1023px) {
  .about__body {
    flex-direction: column;
    row-gap: 24px;
  }
}
.about__image {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
}
@media (max-width: 768px) {
  .about__image {
    height: 258px;
  }
}
.about__card {
  row-gap: 32px;
  justify-content: start;
}
.about__card .card__title {
  font-weight: 500;
}/*# sourceMappingURL=index.css.map */