@import 
  'varibales',
  'normalize',
  'fonts',
  'mixins',
  'media',
  'utils',
  'globals';

@import 
  'blocks/button',
  'blocks/burger-button',
  'blocks/cross-button',
  'blocks/mobile-overlay',
  'blocks/header',
  'blocks/section',
  'blocks/section-header',
  'blocks/grid',
  'blocks/card',
  'blocks/hero',
  'blocks/methodology',
  'blocks/sessions',
  'blocks/about';